@import "~antd/dist/antd.css";
.App {
  margin-top: 20px;
  text-align: center;
}
.head {
  color: blue;
}
.input-city {
  width: 250px;
  margin-top: 10px;
}
.input-city:hover {
  border-color: orange;
}
.input-city:focus {
  border-color: orange;
  box-shadow: 0 0 0 orange;
}
.btn {
  background-color: blue;
}
.title {
  margin-top: 30px;
}
.degree {
  margin-top: 0px;
}
